<% if action.icon %>
    <% if action.menu %>
        <div class="listaction dropdown" style="display: inline-block;">
          <a class="v-nodeco dropdown-toggle"
             href="<%= action.url||'#' %>" aria-label="<%= action.label %>" title="<%= action.title %>"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
             onclick="event.preventDefault();">
            <span class="fa <%= action.icon %> fa-lg  <%= action.attributes[:color] ? "#{action.attributes[:color]}-color" : '' %>"></span>
          </a>
          <%= erb :"components/list/menu", :locals => {:menu => action.menu} %>
        </div>
    <% else %>
        <a class="v-nodeco"
           href="<%= action.url||'#' %>" aria-label="<%= action.label %>" title="<%= action.title %>"
           <% unless action.url %>onclick="event.preventDefault();"
           <% end %>>
          <span class="fa <%= action.icon %> fa-lg  <%= action.attributes[:color] ? "#{action.attributes[:color]}-color" : '' %>"></span>
        </a>
    <% end %>
<% end %>

