<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label<% if field.error %> is-invalid is-dirty<%end%>">
  <input id="<%= field.id %>"
         value="<%= field.value %>"
         <%= "pattern='#{field.pattern}'" if field.pattern %>
         class="mdl-textfield__input" type="text">
  <label class="mdl-textfield__label" for="<%= field.id %>"><%= field.label %></label>
  <span class="mdl-textfield__error <% if field.error %> is-invalid<%end%>" ><%= field.error || field.hint%></span>
</div>