<%
  if comp
    events = nil unless bound_locals_include?(:events, binding)
    events = comp.events || events
    if bound_locals_include?(:class_name, binding)
      class_name ||= ''
      class_name += ' v-avatar'
    else
      class_name = 'v-avatar'
    end
    position = comp.position unless bound_locals_include?(:position, binding)
    position ||= []
    position_classes = position.map {|p| "v-avatar-position-#{p}"}.join(' ')
    size_class = "v-avatar-size-#{comp.size}" unless bound_locals_include?(:size_class, binding)
    puts "avatar: size_class: #{size_class}, class_name: #{class_name}, position_classes: #{position_classes}"
%>
  <% if %w(jpg gif png).include?(comp.avatar&.to_s.split('.').last) %>
    <span class="<%=class_name%> <%=position_classes%> <%= size_class %>">
      <img id="<%= comp.id %>"
           class="v-avatar
               <%= 'v-actionable' if events %>"
         src="<%= comp.avatar %>"
         <%= partial "components/event", :locals => {comp: comp, events: events, parent_id: comp.event_parent_id} %> />
      <%= partial "components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
    </span>
  <% else %>
    <span class="v-avatar <%=position_classes%> <%= size_class %>">
    <%= partial "components/icon", :locals => {comp: comp, icon_name: comp.avatar, parent_id: comp.event_parent_id, position: []} %>
    </span>
  <% end %>

<% end %>
