<%
  variant_classes = []
  variant_classes << "mdc-chip-set--#{comp.variant}" if comp.variant
  variant_classes << 'v-chip-set--selectable-variant' if eq(comp.variant, :select) || eq(comp.variant, :filter)
%>
<div id="<%= comp.id %>"
     class="v-chip-set mdc-chip-set
            <%= variant_classes.join(' ') %>
            <% if comp.draggable %>v-dnd-draggable
       <% end %>"
     <%= draggable_attributes(comp) %>
     <%= drop_zone_attributes(comp) %>
     <%= partial("components/event", locals: {comp: comp,
                                           events: comp.events,
                                           parent_id: comp.id}) if comp.events&.any? %>>
  <%= partial "components/render", :locals => {:components => comp.components, :scope => nil} if comp.components.any? %>
</div>
