<%
  if comp
    events = nil unless local_variables.include? :events
    events = comp.events || events
%>
  <span class="v-avatar">
  <% if %w(jpg gif png).include?(comp.avatar&.to_s.split('.').last) %>
    <img class="<%= 'v-actionable' if events %>"
         id="<%= comp.aid %>"
         src="<%= comp.avatar %>"
         <%= erb :"components/event", :locals => {events: events, parent_id: comp.event_parent_id} %> />
  <% else %>
    <%= erb :"components/icon", :locals => {comp: comp, icon_name: comp.avatar, parent_id: comp.event_parent_id} %>
  <% end %>
  </span>
<% end %>