<%
  if comp
    events = nil unless local_variables.include? :events
    events = comp.events || events
    class_name = 'v-avatar' unless local_variables.include? :class_name
%>
  <% if %w(jpg gif png).include?(comp.avatar&.to_s.split('.').last) %>
    <span class="<%=class_name%>">
    <img id="<%= comp.id %>"
         class="v-avatar
               <%= 'v-actionable' if events %>"
         src="<%= comp.avatar %>"
         <%= erb :"components/event", :locals => {events: events, parent_id: comp.event_parent_id} %> />
      <%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
    </span>
  <% else %>
    <span class="v-avatar">
    <%= erb :"components/icon", :locals => {comp: comp, icon_name: comp.avatar, parent_id: comp.event_parent_id} %>
    </span>
  <% end %>

<% end %>