<div class="mdc-checkbox">
  <input type="checkbox"
         id="<%=comp.id%>"
         name="<%=comp.name%>"
         value="<%=comp.value%>"
         class="mdc-checkbox__native-control
               <%= comp.class_name %>"
         <% if comp.checked %> checked <% end %><% if comp.disabled %> disabled <% end %>
         <%= erb :"components/event", :locals => {events: comp.events, parent_id: comp.event_parent_id} %>
    />
  <div class="mdc-checkbox__background">
    <svg class="mdc-checkbox__checkmark"
         viewBox="0 0 24 24">
      <path class="mdc-checkbox__checkmark-path"
            fill="none"
            stroke="white"
            d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
    </svg>
    <div class="mdc-checkbox__mixedmark"></div>
  </div>
</div>
<label class="v-checkbox__label" id="<%=comp.id%>" for="<%=comp.id%>"><%=comp.text%></label>
<%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id }%>