<% if comp
     leading_icon = comp.icons.select {|i| i.position.select{|p| eq(p, :left)}.any?}.first
     trailing_icon = comp.icons.select {|i| i.position.select{|p| eq(p, :right)}.any?}.first
     first_chip = !eq(components[index-1]&.type, :chip)
     last_chip = !eq(components[index+1]&.type, :chip)

     child_events = (leading_icon&.events || trailing_icon&.events || comp.text&.events||[]).any?
%>
  <% if first_chip %>
    <div class="mdc-chip-set">
  <% end %>
  <% if comp.menu %>
    <div class="mdc-menu-anchor">
  <% end %>

  <div id="<%= comp.id %>"
       class="mdc-chip
              <%= color_classname(comp) %>
              v-menu-click"
       style = "<%= color_style(comp, 'background-') %>"
       tabindex="0"
       <%= erb(:"components/event", locals: {events: comp.events,
                                             parent_id: comp.id}) unless child_events %>>
    <%= erb(:"components/icon", :locals => {comp: leading_icon,
                                            class_name: 'mdc-chip__icon mdc-chip__icon--leading',
                                            events: child_events ? (leading_icon&.events || comp.events) : nil}) %>
    <%= erb :"components/typography", :locals => {comp: comp.text, type: 'chip-text', class_name: 'mdc-chip__text'} %>
    <%= erb(:"components/icon", locals: {comp: trailing_icon,
                                         class_name: 'mdc-chip__icon mdc-chip__icon--trailing',
                                         events: trailing_icon&.events || comp.events }) %>
  </div>
  <% if comp.menu %>
    <%= erb :"components/list/menu", :locals => {:comp => comp.menu} %>
  </div>
  <%end%>
  <% if last_chip %>
    </div>
  <% end %>
  <%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
<% end %>
