<% if comp
     leading_icon = comp.icons.select {|i| eq(i.position, :left)}.first
     trailing_icon = comp.icons.select {|i| eq(i.position, :right)}.first
     first_chip = !eq(components[index-1]&.type, :chip)
     last_chip = !eq(components[index+1]&.type, :chip)

     child_events = (leading_icon&.events || trailing_icon&.events || comp.text&.events||[]).any?
%>
  <% if first_chip %>
    <div class="mdc-chip-set">
  <% end %>
  <div id="<%= comp.id %>"
       class="mdc-chip" tabindex="0"
       <%= erb(:"components/event", locals: {events: comp.events,
                                             parent_id: comp.id}) unless child_events %>>
    <%= erb(:"components/icon", :locals => {comp: leading_icon,
                                            class_name: 'mdc-chip__icon mdc-chip__icon--leading',
                                            events: child_events ? (leading_icon&.events || comp.events) : nil}) %>
    <div id="<%= comp.id %>-text"
         class="mdc-chip__text"
         <%= erb(:"components/event", locals: {events: comp.text&.events || comp.events,
                                               parent_id: "#{comp.id}-text"}) if child_events %>>
      <%= expand_text(comp.text&.text) %></div>
    <%= erb(:"components/icon", locals: {comp: trailing_icon,
                                         class_name: 'mdc-chip__icon mdc-chip__icon--trailing',
                                         events: trailing_icon&.events || comp.events }) %>
  </div>
  <% if last_chip %>
    </div>
  <% end %>
  <%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
<% end %>
