<% if comp
     position_classes = comp.position.map {|p| "v-content-position-#{p}"}.join(' ')
%>
  <div id="<%= comp.id %>"
       <% if comp.tag %>
       data-input-tag="<%= comp.tag %>"
       <% end %>
       class="v-content
            <%= position_classes %>
            <%= _padding_classes_(comp.padding, subclass: comp.dense ? :col : :grid) %>
            <%= 'v-hidden' if comp.hidden %>
            <%= comp.float  ? 'v-content--float' : 'v-content--relative'%>"
     <%= erb :"components/event", :locals => {comp: comp, events: comp.events, parent_id: comp.event_parent_id} %>
       style="text-align: <%= comp.text_align %>;
             <%= "display: inline;" if comp.inline %>
             <%= "width: #{comp.width};" if comp.width %>
             <%= "height : #{comp.height };" if comp.height  %>">
    <%= erb(:"components/progress", :locals => {:comp => comp.progress}) if comp.progress && includes_one?(Array(comp.progress.position), %i(top both)) %>
    <% if comp.shows_errors %>
      <div class="v-errors">
    <% end %>
    <%= erb :"components/render", :locals => {:components => comp.components, :scope => nil} %>
    <% if comp.shows_errors %>
      </div>
    <% end %>
    <%= erb(:"components/progress", :locals => {:comp => comp.progress}) if comp.progress && includes_one?(Array(comp.progress.position), %i(bottom both)) %>
  </div>
<% end %>
