<% if comp
     position_classes = comp.position.map {|p| "v-content-position-#{p}"}.join(' ')
%>
  <div id="<%= comp.id %>"
     <% if comp.tag %>
     data-input-tag="<%= comp.tag %>"
     <% end %>
     class="v-content
            <%= position_classes %>
            <%= 'v-hidden' if comp.hidden %>
            <%= comp.float  ? 'v-content--float' : 'v-content--relative'%>"
     <%= erb :"components/event", :locals => {comp: comp, events: comp.events, parent_id: comp.event_parent_id} %>
     style="text-align: <%= comp.text_align %> <% if comp.width %>width: <%= comp.width %><% end %>">
  <% if comp.shows_errors %>
    <div class="v-errors">
  <% end %>
     <%= erb :"components/render", :locals => {:components => comp.components, :scope => nil} %>
  <% if comp.shows_errors %>
    </div>
  <% end %>
</div>
<% end %>
