<%
  has_form = comp.components.select{|c| eq(c.type, :form)}.any?
%>
<dialog id="<%= comp.id %>"
        <% if comp.tag %>
        data-input-tag="<%= comp.tag %>"
        <% end %>
        class="mdl-dialog v-js-dialog"
    style="<%= "width: #{comp.width}" if comp.width %>
           <%= "height: #{comp.height}" if comp.height %>"
>
  <% if comp.title %>
    <h3 class="mdl-dialog__title"><%= expand_text(comp.title.text) %></h3>
  <% end %>
  <div class="v-errors">
  <div class="mdl-dialog__content
              <%= 'v-dialog--form' if has_form %>">
    <% comp.components.each do |dcomp| %>
      <%= erb :"components/#{dcomp.type}", :locals => {:comp => dcomp} %>
    <% end %>
  </div>
  <% if comp.buttons.any? %>
    <div class="mdl-dialog__actions">
      <% comp.buttons.reverse.each do |button| %>
        <%= erb :"components/button", :locals => {:comp => button} %>
      <% end %>
    </div>
  <% end %>
  </div>
</dialog>