<%
  forms = comp.components.select {|c| eq(c.type, :form)}
  form = forms.first
  components = forms.size == 1 ? form.components.select {|c| !eq(c.type, :button)} : comp.components
  buttons = forms.size == 1 ? form.components.select {|c| eq(c.type, :button)} : comp.buttons
%>
<div id="<%= comp.id %>"
     <% if comp.tag %>
     data-input-tag="<%= comp.tag %>"
     <% end %>
     class="v-dialog mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface"
         <% if comp.width || comp.height %>
              style="<%= "width: #{comp.width.to_i.to_s == comp.width ? comp.width + 'px' : comp.width}; " if comp.width %>
                <%= "height: #{comp.height.to_i.to_s == comp.height ? comp.height + 'px' : comp.height}; " if comp.height %>"
        <% end %>>

      <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
      <% if comp.title %>
        <h2 class="mdc-dialog__title" id="my-dialog-title"><%= expand_text(comp.title.text) %></h2>
      <% end %>

      <div class="mdc-dialog__content" id="my-dialog-content">
        <div class="v-errors">
          <% if forms.size == 1 %>
            <form role="form"
                  <% if form.tag %>
                  data-input-tag="<%= form.tag %>"
                  <% end %>
                  id="<%= form.id %>"
                  class="v-form"
                  style='width: 100%'
                  onsubmit="javascript:void(0);return false;"
                  <%= erb :"components/event", :locals => {comp: form, events: form.events, parent_id: form.id} %>>
          <% end %>
          <% components.each do |dcomp| %>
            <%= erb :"components/#{dcomp.type}", :locals => {:comp => dcomp} %>
          <% end %>
          <% if forms.size == 1 %>
            </form>
          <% end %>

          <% if buttons.any? %>
            <footer class="mdc-dialog__actions">
              <% buttons.each do |button| %>
                <%= erb :"components/button",
                        :locals => {:comp => button,
                                    :class_name => "mdc-dialog__button",
                                    :data_attributes => "data-mdc-dialog-action='#{button.id}'"} %>
              <% end %>
            </footer>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>
