<dialog id="<%= comp.id %>" class="mdl-dialog v-js-dialog"
    style="<%= "width: #{comp.width}" if comp.width %>
           <%= "height: #{comp.height}" if comp.height %>"
>
  <% if comp.title %>
    <h3 class="mdl-dialog__title"><%= comp.title.text %></h3>
  <% end %>
  <div class="mdl-dialog__content">
    <% comp.components.each do |dcomp| %>
      <%= erb :"components/#{dcomp.type}", :locals => {:comp => dcomp} %>
    <% end %>
  </div>
  <% if comp.buttons.any? %>
    <div class="mdl-dialog__actions">
      <% comp.buttons.each do |button| %>
        <%= erb :"components/button", :locals => {:comp => button} %>
      <% end %>
    </div>
  <% end %>
</dialog>