<% if comp %>
  <div
    class="v-input v-file-input mdc-text-field mdc-text-field--outlined mdc-text-field--upgraded"
    style="width: 100%"
    data-original-value="<%=comp.value%>">
    <input id="<%= comp.id %>-input" name="<%= comp.name %>" type="file">
    <button class="mdc-button"><%= comp.button_label %></button>
    <label for="<%= comp.id %>-input"><%= comp.input_label %></label>
    <div class="mdc-notched-outline">
      <svg>
        <path class="mdc-notched-outline__path"/>
      </svg>
    </div>
    <div class="mdc-notched-outline__idle"></div>
  </div>
  <% if comp.hint %>
    <p id="<%= comp.id %>-input-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" aria-hidden="true">
      <%= comp.hint %>
    </p>
  <% end %>
<% end %>
