<% if comp %>
  <div id="<%= comp.id %>" class="v-input v-file-input"
       data-preview=<%= JSON.generate(Array(comp.preview)) %>
           data-accept="<%= comp.accept %>"
       <% if comp.dirtyable %>data-original-value="<%= comp.value %>"<% end %>


       <%= erb :"components/event", :locals => {comp: comp, events: comp.events, parent_id: comp.id} %>>
    <input id="<%= comp.id %>-input"
           name="<%= comp.name %>"
           type="file"
           accept="<%= comp.accept %>"
           <% if comp.disabled %>disabled<% end %>
    >
    <%= erb :"components/render", :locals => {:components => comp.components, :scope => nil} %>
  </div>
<% end %>
