<div id="id-<%=comp.id%>" class="mdc-grid"
     style="<%= "background-color: ##{comp.color};" if comp.color %>">
 <% comp.columns.each do |col| %>
    <div id="id-<%=col.id%>" class="mdc-cell mdc-cell--<%=col.size%>-col"
         style="<%= "background-color: ##{col.color};" if col.color %>">
      <%= erb :"components/render", :locals => {:components => col.components, :scope=> nil} %>
    </div>
 <% end %>
</div>