<% @grid_nesting += 1 %>
<div id="<%= comp.id %>"
     <% if comp.tag %>
     data-input-tag="<%= comp.tag %>"
     <% end %>
     class="mdc-layout-grid
            <%= 'v-nested_grid' if @grid_nesting>1 && !comp.padded %>"
     style="<%= "background-color: #{comp.color};" if comp.color %>">
  <% unless @grid_nesting>1 %>
  <% end %>

  <div class="mdc-layout-grid__inner">
    <% comp.columns.each do |col|
      span = "mdc-layout-grid__cell--span-#{col.size}"
      %i(desktop tablet phone).each do |device|
        span << " mdc-layout-grid__cell--span-#{col.send(device)}-#{device}" if col.send(device)
      end
    %>
      <div id="<%= col.id %>" class="mdc-layout-grid__cell <%= span %>"
           style="<%= "background-color: #{col.color};" if col.color %>">
        <%= erb :"components/render", :locals => {:components => col.components, :scope => nil} %>
      </div>
    <% end %>
  </div>
</div>
<% @grid_nesting -= 1
%>
