<% if comp
     position_classes = comp.position.map {|p| "v-image-position-#{p}"}.join(' ') %>
<div class="v-image-crop">
  <script src="https://cdn.jsdelivr.net/npm/croppr@2.3.1/dist/croppr.min.js"></script>
  <% comp.crop_attrs.each do |attr| %>
    <input type="hidden" name="<%= attr %>" />
  <% end %>
  <img id="<%= comp.id %>"
      class="<%=position_classes%>"
      src="<%= comp.url %>" height="<%= comp.height %>" width="<%= comp.width %>" border="0" alt="">
  <%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
</div>
<% end %>