<% if comp %>
  <% if comp.label %>
    <div class="mdc-menu-anchor">
      <span class="v-menu-click">
        <%= expand_text(comp.label.text) %>
        <%= erb(:"components/icon", locals: {comp: comp.label.icon}) %>
      </span>
  <% end %>
  <div id="<%= comp.id %>"
       class="mdc-menu v-menu
              <%='mdc-menu--open' if comp.open %>"
       style="position: absolute;" tabindex="-1"
       data-placement="<%= comp.placement %>"
       <%= "data-right-offset=9999" if eq(comp.position, :right) %>>
    <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
      <% comp.items.each do |item| %>
        <% unless eq(item.type, :divider) %>
          <li class="mdc-list-item <%= 'v-menu-item__selected' if item.selected %>" role="menuitem" tabindex="0"
              <%= 'disabled' if item.disabled %>>
            <% unless item.disabled %>
              <a class="v-menu-link"
                 id="<%= item.id %>"
                 href="javascript:void(0)"
                 <%= erb :"components/event", :locals => {events: item.events, parent_id: item.event_parent_id} %>>
            <% end %>
            <%= expand_text(item.text) %>
            <% unless item.disabled %>
              </a>
              <%= erb(:"components/icon", locals: {comp: item.icon, position: [:right, :center]}) %>
            <% end %>
          </li>
        <% else %>
          <li class="mdc-list-divider" role="separator"></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% if comp.label %>
    </div>
  <% end %>
<% end %>
