<label class="mdl-textfield__label" for="<%= comp.id %>"><%= expand_text(comp.label) %></label>
<div class="v-rich-text-area"
     style="<%= 'width:100%;' if comp.full_width %>
            <%= "height:#{comp.height};" if comp.height %>"
     <%= "data-placeholder='#{comp.placeholder}'" if comp.placeholder %>></div>
<span class="mdl-textfield__error <% if comp.error %> is-invalid<%end%>" ><%= comp.error || comp.hint%></span>
<%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>