<div class="v-rich-text-area-container v-input"
     <% if comp.tag %>
     data-input-tag="<%= comp.tag %>"
     <% end %>>
  <label class="mdc-floating-label" for="<%= comp.id %>"><%= expand_text(comp.label) %></label>
  <div class="v-rich-text-area"
       id="<%= comp.id %>"
       style="<%= 'width:100%;' if comp.full_width %>
              <%= "height:#{comp.height};" %>"
       data-name="<%= comp.name %>"
       <%= "data-placeholder='#{comp.placeholder}'" if comp.placeholder %>>
  </div>
  <input type="hidden" name="<%= comp.name %>" value="<%= comp.value %>"/>
  <span class="mdl-textfield__error <% if comp.error %> is-invalid<%end%>" ><%= comp.error || comp.hint%></span>
  <p id="<%= comp.id %>-input-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" aria-hidden="true">
    <%= comp.error || comp.hint %>
  </p>
  <%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
</div>