<div class="mdc-select">
  <select class="mdc-select__native-control">
    <% comp.options.each do |option| %>
      <option value="<%= option.value %>"
              <%= 'disabled' if option.disabled %>
              <%= 'selected' if option.selected %>>
        <%= option.text %>
      </option>
    <% end %>
  </select>
  <div class="mdc-select__label"><%= comp.label %></div>
  <div class="mdc-select__bottom-line"></div>
</div>
