<% if comp
  float_label = comp.options.select{|o| o.selected }.any?
%>
  <div class="mdc-select v-input"
       <% if comp.tag %>
       data-input-tag="<%= comp.tag %>"
       <% end %>
       <%= 'style="width: 100%;"' if comp.full_width %>>
    <select id="<%= comp.id %>"
            name="<%= comp.name%>"
            class="mdc-select__native-control"
            <%= erb(:"components/event", locals: {events: comp.events,
                                                  parent_id: comp.id}) %>>
      <% comp.options.each do |option| %>
        <option value="<%= option.value %>"
                <%= 'disabled' if option.disabled %>
                <%= 'selected' if option.selected %>>
          <%= option.text %>
        </option>
      <% end %>
    </select>
    <label class="mdc-floating-label
               <%= 'mdc-floating-label--float-above' if float_label%>"><%= comp.label %></label>
    <div class="mdc-select__bottom-line"></div>
  </div>
  <%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
<% end %>
