<% if comp
  float_label = comp.options.select{|o| o.selected }.any?
%>
  <div class="mdc-select">
    <select id="<%= comp.id %>"
            name="<%= comp.name%>"
            class="mdc-select__native-control"
            <%= erb(:"components/event", locals: {events: comp.events,
                                                  parent_id: comp.id}) %>>
      <% comp.options.each do |option| %>
        <option value="<%= option.value %>"
                <%= 'disabled' if option.disabled %>
                <%= 'selected' if option.selected %>>
          <%= option.text %>
        </option>
      <% end %>
    </select>
    <div class="mdc-select__label
               <%= 'mdc-floating-label--float-above' if float_label%>"><%= comp.label %></div>
    <div class="mdc-select__bottom-line"></div>
  </div>
<% end %>
