<div class="form-group">
  <label class="control-label" for="<%= comp.id %>"><%= comp.label %></label>
  <input type="text" class="form-control" readonly="readonly"
           id="<%= comp.id %>"
           name="<%= comp.id %>"
           value="<%= comp.value %>">
</div>