<div class="v-errors">
  <ul id="<%= comp.id %>"
      <% if comp.tag %>
      data-input-tag="<%= comp.tag %>"
      <% end %>
      class="mdl-stepper
            <%= 'mdl-stepper--horizontal' if eq(comp.orientation, :horizontal) %>
            <%= 'mdl-stepper--linear' if comp.linear %>" >
    <% for step in comp.steps %>
      <%= erb :"components/stepper/#{step.type}", :locals => {:comp => step} %>
    <% end %>
  </ul>
</div>


