<div class="mdl-typography--subhead
            <%= 'v-actionable' if comp.events %>"
     id="<%=comp.id%>"
     style="<%='font-size: 13px' if comp.level==1%>"
     <%= erb :"components/event", :locals => {events: comp.events, parent_id: comp.event_parent_id}%>>
  <%= markdown(comp.text) %></div>
