<% class_name = '' unless local_variables.include? :class_name
%>

<div id="<%=comp.id%>"
     <% if comp.tag %>
     data-input-tag="<%= comp.tag %>"
     <% end %>
     class="v-switch v-input mdc-switch
      <%= 'mdc-switch--disabled' if comp.disabled %>
      <%= class_name %>">
  <div class="mdc-switch__track"></div>
  <div class="mdc-switch__thumb-underlay">
    <div class="mdc-switch__thumb">
      <input id="<%= comp.id %>-input"
             name="<%= comp.name %>"
             type="checkbox"
             class="mdc-switch__native-control"
             role="switch"
             <%if comp.checked%> checked<%end%>
      <%= erb :"components/event", :locals => {events: comp.events, parent_id: comp.event_parent_id}%>/>
    </div>
  </div>
</div>
<label for="<%=comp.id%>-input"><%=comp.text%></label>
<%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
