<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp <%= 'v-no-border' unless comp.border %>"
  <%= erb :"components/event", :locals => {comp: comp, events: comp.events, parent_id: comp.id}%>>
  <% if comp.header %>
    <thead>
      <%= erb :"components/table/header", :locals => {:row=> comp.header} %>
    </thead>
  <% end %>
  <tbody>
      <% comp.rows.each do |row| %>
        <%= erb :"components/table/row", :locals => {:row=> row} %>
      <% end %>
  </tbody>
  <% if comp.footer %>
    <tfoot>
      <%= erb :"components/table/footer", :locals => {:row=> comp.footer} %>
    </tfoot>
  <% end %>
</table>
<% if comp.pagination %>
  <%= erb :"components/table/pagination", :locals => {:comp=> comp.pagination} %>
<% end %>
