<div id="<%= comp.id %>" class="v-input v-text-field mdc-text-field mdc-text-field--textarea
            <%= ' is-invalid is-dirty' if comp.error %>
            <% if comp.disabled %>mdc-text-field--disabled<% end %>"
     <% if comp.tag %>data-input-tag="<%= comp.tag %>"<% end %>
     <% if comp.dirtyable %>data-dirtyable<% end %>
     style="<%= 'width:100%' if comp.full_width %>">
  <textarea id="<%= comp.id %>-input"
            name="<%= comp.name %>"
            class="mdc-text-field__input"
            rows="<%= comp.rows %>"
            cols="<%= comp.cols %>"
<<<<<<< HEAD
            <%= erb :"components/event", :locals => {comp: comp, events: comp.events, parent_id:  "#{comp.id}-input"} %>><%= comp.value %></textarea>
=======
            <% if comp.disabled %>disabled<% end %>><%= comp.value %></textarea>
>>>>>>> master
  <div class="mdc-notched-outline">
    <div class="mdc-notched-outline__leading"></div>
    <div class="mdc-notched-outline__notch">
      <label for="<%= comp.id %>-input" class="mdc-floating-label"><%= expand_text(comp.label) %></label>
    </div>
    <div class="mdc-notched-outline__trailing"></div>
  </div>
</div>
<% if comp.error || comp.hint %>
  <p id="<%= comp.id %>-input-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" aria-hidden="true">
    <%= comp.error || comp.hint %>
  </p>
<% end %>
<%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>

