<div id="<%= comp.id %>" class="v-input v-text-field mdc-text-field mdc-text-field--textarea
            <% if comp.disabled %>mdc-text-field--disabled<% end %>"
     <% if comp.tag %>data-input-tag="<%= comp.tag %>"<% end %>
     <% if comp.dirtyable %>data-dirtyable<% end %>
     style="<%= 'width:100%' if comp.full_width %>">
  <textarea id="<%= comp.id %>-input"
            name="<%= comp.name %>"
            class="mdc-text-field__input"
            aria-controls="<%= comp.id %>-input-helper-text"
            <%= 'required' if comp.required %>
            rows="<%= comp.rows %>"
            cols="<%= comp.cols %>"
            <% if comp.disabled %>disabled<% end %>><%= comp.value %></textarea>
  <%= erb :"components/shared/input_label", :locals => {comp: comp} %>
</div>
<%= erb :"components/shared/hint_error_display", :locals => {comp: comp} %>
<%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>

