<% class_name = '' unless local_variables.include? :class_name
   position_classes = comp.position.map {|p| "v-typography-position-#{p}"}.join(' ')
%>
<div id="<%= comp.id %>"
     class="mdc-typography--<%= "#{type}#{comp.level}" %>
           <%= class_name %>
           <%= position_classes %>
           <%= 'v-actionable' if comp.events %>"
     style = "<%= "color: #{comp.color};" if comp.color %>"
     <%= erb :"components/event", :locals => {events: comp.events, parent_id: comp.event_parent_id} %>>
  <%= expand_text(comp.text) %></div>
<%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
