<tr id="<%= row.id %>" class="mdc-data-table__row"
  style="<%= "background-color: #{row.color};" if row.color %>">
  <%= erb :"components/table/checkbox", :locals => {:row=> row, :type=> 'row'} %>
  <% row.columns.each do |col| %>
    <td id="<%= col.id%>"
        class="mdc-data-table__cell
               <%= "v-align-#{col.align}" %>
               <%= 'v-actionable' if col.events %>"
        <%= erb :"components/event", :locals => {comp: col, events: col.events, parent_id: col.event_parent_id}%>
        style="<%= "background-color: #{col.color};" if col.color %>">
      <%= expand_text(col.value&.text, markdown: col.value&.markdown) %>
      <%= erb :"components/render", :locals => {:components => col.components, :scope => nil} %>
    </td>
    <%= erb :"components/tooltip", :locals => {comp: col.tooltip, parent_id: col.id} %>
  <% end %>
</tr>
