<tr
  style="<%= "background-color: #{row.color};" if row.color %>">
  <% row.columns.each do |col| %>
    <td id="<%= col.id%>"
        class="<%= 'mdl-data-table__cell--non-numeric' unless col.numeric %>
               <%= 'v-actionable' if col.events %>"
        <%= erb :"components/event", :locals => {events: col.events, parent_id: col.event_parent_id}%>
        style="<%= "background-color: #{col.color};" if col.color %>"><%= markdown(col.value.to_s) %></td>
    <%= erb :"components/tooltip", :locals => {comp: col.tooltip, parent_id: col.id} %>
  <% end %>
</tr>
