<li class="<%= 'mdv-actionable' if item.event %>"
    id="<%=item.id%>"
    <%= erb :"components/event", :locals => {event: item.event, parent_id: item.id} %>>
  <%= erb :"components/icon", :locals => {comp: item.icon, class_name: nil} %>
  <%= item.text %>
</li>