<% if comp %>
  <%= erb :"components/link", :locals => {link: comp.link, preamble: true} %>
  <button id="<%=comp.id%>"
        class="mdl-button mdl-js-button
         <%= "mdl-button--#{comp.button_type}" if %i(fab raised icon).include?(comp.button_type) %>
         <%= 'mdl-button--colored' if comp.color==:primary %>
         <%= 'mdl-button--accent' if comp.color==:secondary %>
         <%= 'mdl-button--mini-fab' if comp.button_type==:fab && comp.size==:small %>
         <%= "vml-js-dialog-button" if comp.dialog %>"
         <%= "data-dialog-id='#{comp.dialog}'" if comp.dialog %>"
         <%= 'disabled' if comp.disabled %>>
  <%= erb :"components/icon", :locals => {comp: comp, class_name: nil} %>
  <%= comp.text %>
</button>
  <%= erb :"components/link", :locals => {link: comp.link, preamble: false} %>
<% end %>

