<button id="<%=comp.id%>" class="mdl-button mdl-js-button<% if %i(fab raised icon).include?(comp.button_type) %> mdl-button--<%=comp.button_type%><%end%><% if comp.color==:primary %> mdl-button--colored<%end%><% if comp.color==:secondary %> mdl-button--accent<%end%><% if comp.button_type==:fab && comp.size==:small %> mdl-button--mini-fab<%end%><%= comp.dialog ? " #{comp.dialog}-dialog" : nil %>"<% if comp.disabled%> disabled<%end%>>
  <%= erb :"components/icon", :locals => {:comp => comp} %>
  <%= comp.text %>
</button>