<% @nesting ||= 0
  @nesting += 1
%>
<div id="<%=comp.id%>" class="mdl-grid"
     style="<%= "background-color: #{comp.color};" if comp.color %>
            <%= 'padding: 0; margin: 0 8px;' if @nesting>1 %>">
 <% comp.columns.each do |col| %>
    <div id="<%=col.id%>" class="mdl-cell mdl-cell--<%=col.size%>-col"
         style="<%= "background-color: #{col.color};" if col.color %>">
      <%= erb :"components/render", :locals => {:components => col.components, :scope=> nil} %>
    </div>
 <% end %>
</div>
<% @nesting -= 1
%>
