<div class="mdl-typography--subhead
            <%= 'mdv-actionable' if comp.event %>"
     id="<%=comp.id%>"
     style="<%='font-size: 13px' if comp.level==1%>"
     <%= erb :"components/event", :locals => {event: comp.event, parent_id: comp.id}%>><%= comp.text %></div>
