<div class="col-12">
  <div class="card card-block sameheight-item">
    <form role="form" method="post" action="<%= comp.url %>" id="<%= comp.id %>">
      <%= erb :"components/render", :locals => {:components => comp.components, :scope=> :form} %>
      
      <% for field in comp.fields.values %>
          <p>
            <%= erb :"components/fields/#{field.type}", :locals => {:field => field} %>
          </p>
      <% end %>
      <p>
        <% for action in comp.actions %>
            <%= erb :"components/actions/#{action.type}", :locals => {:action => action} %>
        <% end %>
      </p>
    </form>
  </div>
</div>