<% class_name = '' unless bound_locals_include?(:class_name, binding)
   position_classes = comp.position.map {|p| "v-button-position-#{p}"}.join(' ')
   event_parent_id = nil unless bound_locals_include?(:event_parent_id, binding)
   data_attributes = '' unless bound_locals_include?(:data_attributes, binding)
%>
<button id="<%= comp.id %>"
         class="v-button v-button--button mdc-button <%=class_name%>
         <%= 'v-hidden' if comp.hidden %>
         <%= 'mdc-button--raised' if eq(comp.button_type, :raised) %>
         <%= 'v-secondary-filled-button' if eq(comp.button_type, :raised) && eq(comp.color, :secondary) %>
         <%= 'v-secondary-text-button' if eq(comp.button_type, :flat) && eq(comp.color, :secondary) %>
         <%=  position_classes %>
         <%= 'v-menu-click' if comp.menu%>
         <%= 'v-nowrap' unless comp.wrap_text%>
         <%= color_classname(comp, 'background-', :background_color)%>"
         style="<%= color_style(comp) %> <%= color_style(comp, 'background-', :background_color) %>"
         <%= data_attributes %>
        data-disabled-on-post-finished="<%= comp.disabled_on_post_finished %>"
<%= 'disabled ' if comp.disabled %>
<%= "type='#{eq(comp.button_type, :raised) ? 'submit' : 'button'}'" %>
<%= partial "components/event", :locals => {comp: comp, events: comp.events, parent_id: event_parent_id || comp.event_parent_id} if comp.events&.any? %>>
  <%= partial "components/icon", :locals => {comp: comp.icon, class_name: 'mdc-button__icon'} if comp.icon %>
  <%= partial "components/image", :locals => {comp: comp.image} if comp.image %>
  <%= comp.text %>
</button>
<%= partial "components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} if comp.tooltip %>
<%= partial "components/menu", :locals => {comp: comp.menu, parent_id: comp.id} if comp.menu %>
