<% class_name = '' unless bound_locals_include?(:class_name, binding)
   position_classes = comp.position.map {|p| "v-button-icon-position-#{p}"}.join(' ')
   event_parent_id = nil unless bound_locals_include?(:event_parent_id, binding)
   data_attributes = '' unless bound_locals_include?(:data_attributes, binding)
%>

<button id="<%= comp.id %>"
        <%= data_attributes %>
        data-disabled-on-post-finished="<%= comp.disabled_on_post_finished %>"
        class="v-button v-button--icon mdl-button mdl-js-button mdl-button--icon
         <%= 'v-hidden' if comp.hidden %>
         <%=class_name%>
         <%= position_classes %>
         <%= 'v-menu-click' if comp.menu%>"
        style = "<%= color_style(comp) %>"
        <%= 'disabled' if comp.disabled %>
        <%= "type='#{eq(comp.button_type, :raised) ? 'submit' : 'button'}'" %>
        <%= partial 'components/event', :locals => {comp: comp, events: comp.events, parent_id: event_parent_id || comp.event_parent_id} if comp.events&.any? %>>
  <%= partial 'components/icon', :locals => {comp: comp.icon} if comp.icon %>
  <%= comp.text %>
  <%= partial "components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} if comp.tooltip %>
</button>
<%= partial "components/menu", :locals => {comp: comp.menu, parent_id: comp.id} if comp.menu %>

