<button id="<%= comp.id %>"
        class="mdc-fab material-icons v-fab--absolute v-js-ripple-button
          <%= 'mdc-fab--mini' if eq(comp.size, :small) %>"
        aria-label="<%= inflector.humanize(comp.icon.icon) %>"
        <%= 'disabled' if comp.disabled %>
        <%= erb :"components/event", :locals => {events: comp.events, parent_id: comp.event_parent_id} unless comp.disabled %>>
  <span class="mdc-fab__icon">
  <%= comp.icon.icon %>
  </span>
</button>
<%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
