<% class_name = '' unless local_variables.include? :class_name
   position_classes = comp.position.map {|p| "v-button-fab-position-#{p}"}.join(' ')
   event_parent_id = nil unless local_variables.include? :event_parent_id
   data_attributes = '' unless local_variables.include? :data_attributes
%>

<button id="<%= comp.id %>"
        <%= data_attributes %>
        class="v-button v-button--fab mdc-fab material-icons v-fab--absolute
          <%= 'v-hidden' if comp.hidden %>
          <%= class_name %>
          <%= position_classes %>
          <%= 'mdc-fab--mini' if eq(comp.size, :small) %>"
        aria-label="<%= inflector.humanize(comp.icon.icon) %>"
        <%= 'disabled' if comp.disabled %>
        <%= erb :"components/event", :locals => {comp: comp, events: comp.events, parent_id: event_parent_id || comp.event_parent_id} unless comp.disabled %>>
  <span class="mdc-fab__icon">
  <%= comp.icon.icon %>
  </span>
</button>
<%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
<%= erb :"components/menu", :locals => {comp: comp.menu, parent_id: comp.id} %>
