<a id="<%= item.id %>"
         class="mdc-list-item <%= 'mdc-list-item--activated' if item.selected %>"
         href="javascript:void(0)"
         tabindex="0"
         aria-selected="true"
          <%= erb :"components/event", :locals => {comp: item, events: item.events, parent_id: item.event_parent_id} %>>
         <%= erb :"components/icon", :locals => {comp: item.icon, class_name: 'mdc-list-item__graphic'} %>
         <%= expand_text item.text %>
        </a>
