<div class="mdl-layout__drawer">
  <span class="mdl-layout__title"><%= drawer.title %></span>
  <nav class="mdl-navigation">
    <% drawer.menu&.items&.each do |item| %>
      <a class="mdl-navigation__link"
         id="<%=item.id%>"
         style="color: unset; text-decoration: none;"
         href="javascript:void(0)"
                      <%=  erb :"components/event", :locals => {event: item.event, parent_id: item.id}%>>
          <%= erb :"components/icon", :locals => {comp: item.icon, class_name: nil} %>
          <%= item.text %>
        </a>
    <% end %>
  </nav>
</div>