<div class="mdl-layout__drawer">
  <span class="mdl-layout__title"><%= drawer.title %></span>
  <% if drawer.menu&.items %>
    <nav class="mdl-navigation">
      <% drawer.menu&.items&.each do |item| %>
        <a class="mdl-navigation__link"
           id="<%= item.id %>"
           style="color: unset; text-decoration: none;"
           href="javascript:void(0)"
           <%= erb :"components/event", :locals => {events: item.events, parent_id: item.event_parent_id} %>>
          <%= erb :"components/icon", :locals => {comp: item.icon} %>
          <%= item.text %>
        </a>
      <% end %>
    </nav>
  <% end %>
  <%= erb :"components/render", :locals => {:components => drawer.components, :scope => nil} %>
</div>