<header id="<%= header.id %>" class="mdl-layout__header">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row">

    <span class="mdc-typography--title
                <%= 'v-actionable' if header.title&.events %>"
          <%= erb :"components/event", :locals => {events: header.title&.events, parent_id: header.title&.event_parent_id} %>>
      <%= expand_text(header.title&.text) %>
    </span>
    <%= erb :"components/icon", :locals => {comp: header.title&.icon } if header.title&.icon %>
    <div class="mdl-layout-spacer"></div>
    <% if header.nav %>
      <nav class="mdl-navigation">
       <% header.nav.items.each do |item| %>
         <a class="mdl-navigation__link"
            id="<%= item.id %>"
            href="javascript:void(0)"
            <%= erb :"components/event", :locals => {events: item.events, parent_id: item.event_parent_id} %>>
            <%= erb :"components/icon", :locals => {comp: item.icon, class_name: nil} %>
            <%= item.text %>
          </a>
        <% end %>
      </nav>
    <% end %>
    <% if header.button %>
      <%= erb :"components/button", :locals => {comp: header.button, parent_id: header.id} %>
    <% end %>
    <% if header.menu %>
      <%= erb :"components/menu", :locals => {comp: header.menu, parent_id: header.id} %>
    <% end %>
  </div>
</header>