<div class="form-group">
  <label class="control-label" for="<%= field.id %>"><%= field.label %></label>
  <input type="text" class="form-control" readonly="readonly"
           id="<%= field.id %>"
           name="<%= field.id %>"
           value="<%= field.value %>">
</div>