<li class="mdl-list__item
          <%= 'mdl-list__item--two-line' if line.subtitle%>
          <%= 'mdl-list__item--three-line' if line.body%>
          <%= 'vml-list-line-separator' if line.separator%>">
  <span class="mdl-list__item-primary-content"
        <%= erb :"components/event", :locals => {event: line.event}%>
  >
    <%= erb :"components/list/icon", :locals => {:line => line} %>
    <%= erb :"components/list/avatar", :locals => {:line => line} %>
    <span><%= line.text&.text %></span>
    <% if line.subtitle %><span class="mdl-list__item-sub-title"><%=line.subtitle.text%></span><%end%>
    <% if line.body %><span class="mdl-list__item-text-body"><%=line.body.text%></span><%end%>
  </span>
  <%= erb :"components/list/actions", :locals => {:line => line} %>
</li>
