<header class="mdl-layout__header">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row">
    <span class="mdl-layout__title"><%= header.title %></span>
    <div class="mdl-layout-spacer"></div>
    <% if header.menu %>
      <nav class="mdl-navigation">
        <% header.menu.items.each do |item| %>
          <a class="mdl-navigation__link"
             id="<%=item.id%>"
             href="javascript:void(0)"
             <%=  erb :"components/event", :locals => {event: item.event, parent_id: item.id}%>>
            <%= erb :"components/icon", :locals => {comp: item.icon, class_name: nil} %>
            <%= item.text %>
          </a>
        <% end %>
      </nav>
    <% end %>
  </div>
</header>